body{
	background: #CFE4E6;
	text-align: left;
    padding: 50px;
}

h1, h2, h3, h4, h5, h6, p, li{
	color: #210613;
	font-family: 'Slabo 27px', serif;
}

a{
	color: #13223B;
}

a:visited{
	color: #596566;
}

a:hover{
	color: #7B8485;
}

code{
    font-family: monospace;
    background: #FFF;
}

.page-content {
	width: 70%;
	text-align: justify;
}

.page-content img{
	width: 50%;
	text-align: center;
	margin-left: 25%;
}

.page-content p{
    color: #210613;
}

.img-caption {
	margin-left: 25%;
	width: 50%;
	text-align: center;
	font-size: 0.75em;
	font-style: italic;
}

.page-content blockquote {
	font-style: italic;
	text-align: center;
	font-size: 1.15em;
}

.title {
	padding: 1px 20px 1px 00px;
	margin-bottom: 10px;
	text-align: left;
    width: 70%;
}

.title h1{
	font-size: 5em;
	font-weight: bold;
	line-height: 1em;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	margin-bottom: 15px;
}

.title .meta-data p{
	font-weight: normal;
	font-size: 0.9em;
	color: #888;
}

.post-links {
	font-size: 1em;
	text-align: left;
	width: 70%;
	margin-top: 10px;
	padding: 1px 20px 1px 00px;
}
